
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-comida:before { content: '\f0f5'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */